
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<li>
    <a class="text-dark" asp-area="" asp-controller="Client" asp-action="Create"> Client create</a>
</li>
<li>
    <a class="text-dark" asp-area="" asp-controller="Client" asp-action="Details"> Client details</a>
</li>

